pre {
	padding: 20px
}
h1 {
	font-family: Arial,sans-serif;
	color: black;
	font-size:22pt;
	margin-top:26px;
	margin-bottom:26px;
	margin-left:18px;
}
h2 {
	font-family: Arial,sans-serif;
	color: black;
	font-size:16pt;
	margin-top:16px;
	margin-bottom:16px;
	margin-left:18px;
}
p, ul, li {
	font-family: Arial,sans-serif;
	color: black;
	font-size: 13pt;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right:26px;
} 
code {
	font-family: Courier;
	color: navy;
} 
ul.none li {
	list-style:none inside none;
	margin-left: 0px;
	padding:0px 0px 0px 0px;
}
